@model List<H2Service.MedicalWastes.Dto.WasteStatisticOutput>
@{
    ViewBag.Title = "出库确认单";
    Layout = "~/Views/Shared/_WxconfigLayout.cshtml";
}
@{ var counts = 0;}
<header class='demos-header'>
    <h1 class="demos-title">医疗废物暂存点</h1>
</header>

<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">出库暂存点</label>
        <em class="weui-form-preview__value">@ViewBag.DistrictName</em>
    </div>
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">出库人</label>
        <em class="weui-form-preview__value">@ViewBag.UserName </em>
    </div>    
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">出库时间</label>
        <em class="weui-form-preview__value">@DateTime.Now.ToString("yyyy-MM-dd hh")</em>
    </div>    
   
    <div class="weui-form-preview__bd">      
        @foreach (var m in Model)
        {
            counts += m.PackageCount;
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">@m.Kind</label>
                <span class="weui-form-preview__value">@(m.PackageCount+ "包/" +m.Total+ "Kg")</span>
            </div>

        }
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">图片上传</p>
                        <div class="weui-uploader__info">6</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">                           
                        
                           
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="btnCam" onclick="choosePic()" class="weui-uploader__input" type="button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-form-preview__ft"> 
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="@Url.Action("DeliveryHistory",new { Id=ViewBag.DistrictId})">历史</a>
        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"  onclick="javascript:delivery()">出库</button>
    </div>
</div>

<script>
    var picturesArrary = new Array();
    function choosePic() {
        var imgs_len = $('#uploaderFiles li img').length

        if (imgs_len >= 6) {
            $.toast("最多6张", "forbidden");
            return;
        }       
        wx.chooseImage({
            count: 1,
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['camera'], // 相机
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                $('#uploaderFiles').append('<li class="weui-uploader__file"><img width="77" height="77" src="' + localIds + '" /></li>');
                wx.uploadImage({
                    localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1,// 默认为1，显示进度提示
                    success: function (ures) {                        
                        picturesArrary.push(ures.serverId);

                    }
                });
            }
        });

    }



    function delivery() {  
       
        var counts =@counts;
        if (counts == 0) {
            $.toast("没有医疗废物", "cancel");
            return;
        }
        $.post('/MedicalWaste/Delivery', {
            DistrictId: '@ViewBag.DistrictId',
            ImagesUrl: picturesArrary
        }, function (data) {
            if (data.Code > 0)
                $.toast("出库完毕", function () {
                    WeixinJSBridge.invoke('closeWindow');
                })
            else
                  $.toast("操作失败","cancel")
            })
    }

</script>
<style>
    .weui-form-preview__bd {
        font-size: 1.2em
    }

</style>